
<!-- <html>
	<head>
		<title>Introspect by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body> -->

		<!-- Header -->
		
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">TP HR CRUD app</a>
					<nav id="#">
						<a href="#addemp" >Employees</a>
						<a href="generic.html">Departments</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>TP : <span>Example de Manipulation<br />
					de Mongodb</span></h1>
					<ul class="actions">
						<li><a href="#" class="button alt">Get Started</a></li>
					</ul>
				</div>
			</section>


		<!-- Three -->
				<div id = "addemp" class ="test">
					 <app-employee></app-employee> 
				</div>
			




